.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .card-item {
    padding: 16px;
    width: 100%;
    background-color: var(--color-surface);
    border-radius: 16px;
    box-shadow: var(--color-box-shadow);
  }

  .context {
    margin-left: auto;
  }

  .flex-container {
    align-items: flex-start;
    gap: 8px;
  }

  p {
    color: var(--color-text-muted);
  }

  h2 {
    text-transform: capitalize;
  }
}
