.jar {
  min-height: 0;
  flex-shrink: 1;
  overflow: scroll;

  .icon-container {
    position: relative;
  }

  .jar-container {
    font-size: 88px;
  }

  .icon-theme {
    position: absolute;
    top: 56%;
    left: 50%;
    font-size: 28px;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  h2 {
    font-size: 1.125rem;
  }

  .card-item {
    padding-left: 8px;
  }

  .card-item a {
    text-decoration: none;
    color: var(--color-text-primary);
  }

  .private {
    color: var(--color-accent-bold);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .context {
    background-color: var(--color-accent-soft);
    color: var(--color-accent-hover);
    border-radius: 4px;
    padding: 0px 4px;
    font-size: 0.75rem;
  }
}
