.jar {
  min-height: 0;
  flex-shrink: 1;
  overflow: scroll;

  .icon-container {
    position: relative;
  }

  .flex-container {
    gap: 12px;
  }

  .icon-theme {
    position: absolute;
    top: 54%;
    left: 50%;
    font-size: 28px;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .card-item a {
    text-decoration: none;
    color: var(--color-text-primary);
  }

  .private {
    color: var(--color-accent-bold);
  }

  .context {
    background-color: var(--color-accent-soft);
    color: var(--color-accent-hover);
    border-radius: 4px;
    padding: 0px 4px;
  }
}

.empty-jar-container {
  margin: auto;

  .empty-jar-message {
    text-align: center;
    margin-bottom: 12px;
  }

  > button {
    margin: auto;
  }
}

.sealed-jar {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .jar-container svg {
    height: 180px;
    width: 180px;
  }

  .count {
    font-size: 2rem;
    font-weight: 800;
    display: block;
  }

  .flex-container {
    justify-content: space-between;
    width: 80%;
    margin-top: 24px;
    text-align: center;

    .count-container:first-of-type {
      border-right: 1px solid var(--color-border);
    }

    .count-container {
      flex: 1;
    }
  }

  .caption.sharing {
    margin-left: 24px;
    color: var(--color-text-secondary);
  }

  .access-container {
    padding: 16px 0px;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    width: 100%;
    margin: 24px 0px;
    display: flex;
    align-items: center;
  }

  .access-option {
    margin: 24px 0px;

    .icon-container {
      color: var(--color-accent-hover);
    }
  }

  .secondary {
    width: 100%;
  }

  .chevron-right {
    margin-left: auto;
    color: var(--color-text-secondary);
    cursor: pointer;
  }
}
