@media (max-width: 480px) {
  form {
    width: 90%;
    margin: 0 auto;

    label:has(> input[type="radio"]) {
      padding: 4px 10px;
    }
  }

  .jar {
    .jar-container svg {
      height: 72px;
    }

    .context {
      font-size: 0.625rem;
    }
  }

  .jar-entry {
    .icon-container {
      padding: 4px 8px;
    }
  }

  .title {
    font-size: 1rem;
    line-height: 1.65;
  }

  .subtitle {
    font-size: 0.75rem;
    line-height: 1.6;
  }
}

@media (max-width: 500px) {
  #root {
    max-width: 85%;
  }
}
