@use "setup";
@use "typography";
@use "button";
@use "card";
@use "header";
@use "form";
@use "jar";
@use "jarEntry";

@use "media";

.flex-container {
  display: flex;
  width: 100%;
}

// loader
.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* modal */
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.error-message {
  color: var(--color-error);
}
/* TODO
- sharing w/ more than one user
- sharing a private jar?
- delete jar?
*/

.icon-container {
  position: relative;
  width: fit-content;
}

.sealed-jar {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .jar-container svg {
    height: 180px;
    width: 180px;
  }

  .count {
    font-size: 2rem;
    font-weight: 800;
    display: block;
  }

  .flex-container {
    justify-content: space-between;
    width: 80%;
    margin-top: 24px;

    .count-container:first-of-type {
      border-right: 1px solid var(--color-border);
    }

    .count-container {
      flex: 1;
    }
  }
}
